<!DOCTYPE html>
<html>
  <head>
    <title>Event Data Report</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

  </head>
  <body>
    <h1>Event Reporter</h1>
    <!-- <p>Welcome to <%= title %></p> -->
    <!-- <h3> Development of Understanding</h3> -->
    <p></p>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Choose Event
      </button>
      <div id = "event-dropdown-select" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% for(var i=0; i<evList.length; i++) {%>
          <a class="dropdown-item" href="/<%= evList[i] %>"><%= evList[i] %></a>
        <% } %>
      </div>
    </div>

    <p></p>
    <table class="table">
    <thead>
      <tr>
        <!-- <th scope="col">#</th> -->
        <th scope="col">Time</th>
        <th scope="col">Action</th>
        <th scope="col">Theme</th>
        <th scope="col">Notes</th>
        <th scope="col">Tags</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0; i<sl.length; i++) {%>
      <!-- (sl.filter(function (o){return o["event"] == 5})) -->
        <tr>
         <td>
           <%= sl[i].time %>
         </td>
         <td>
           <%= sl[i].act %>
         </td>
         <td>
           <%= sl[i].theme %>
         </td>
         <td>
           <%= sl[i].notes %>
         </td>
         <td>
           <%= sl[i].tags %>
         </td>
       </tr>

      <% } %>
      
      
    </tbody>
  </table>

  </body>
</html>
